.loginScreen{
    position: relative;
    height: 100%;
}

.loginScreen_logo{
    position: fixed;
    left:0;
    cursor:pointer;
    width: 80px;
    object-fit: contain;
}
.loginScreen_button
{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ef0514;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
